body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 48px;
}

span {
    color: rgb(8, 241, 241);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 60%;
    padding-left: 6%;

}

.half-width img {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(58, 58, 126), rgb(18, 235, 170));
    padding: 10px;
    color: aqua;
    font-weight: 700;
    border-radius: 10px;
}

.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.experience-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.experience-item {
    width: 40%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.color {
    color: rgb(212, 216, 0);

}